*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/gradle/
/.idea/
/gradle.properties
/gradlew.bat
.idea/checkstyle-idea.xml
.idea/codeStyles/
.idea/gradle.xml
.idea/inspectionProfiles/
.idea/markdown-doclet.xml
.idea/misc.xml
.idea/runConfigurations.xml
app/.gitignore
app/build.gradle
app/libs/
app/proguard-rules.pro
gradle.properties
gradle/
gradlew.bat
java_thread/libs/
